code {
    color: black;
    font-family: 'Source Code Pro', monospace ;
}


.highlight {
    background-color: yellow;
}

pre code {
    color: black;
}

/*
table {
    width: 50%;
} 
*/


table, th, td {
    border: 1px solid black;
}

td {
    padding-right: 1em;
}

th {
    /* background-color: #8AC007; */
    border-bottom: 1px solid black;
    padding-right: 1em;
    padding-left: 1em;
    text-align: center;
}

/*Alignment tweaks for social sharing buttons*/
/* This gets Google to fall into place */
.social {
    font-size: 1px;
}
 
/* This gets Facebook to fall into place */
.social .fb-like {
    font-size: 1px;
    display: inline-block;
}
 
/* Set an optional width for your button wrappers */
.social span {
    display: inline-block;
    width: 110px;
}
 
/* Adjust the widths individually if you like */
.social .google {
    width: 65px;
}

.social .facebook {
    width: 85px;
}

.social .twitter {
    width: 95px;
}

.fa {
    color: #8AC007; /* #FF6600; */
}

a {
    color: #8AC007;
}

sup  {
    /* color: #8AC007; */
    font-size: 0.5em;
    vertical-align: super;
}

.page-header h1 {
    font-family: 'Abel', sans-serif;
}

ul, ol {
	font-family: 'Quicksand', sans-serif;
	font-size: 18px;
	font-weight: 500; 
	font-style: normal;
	text-align: justify;
	margin-bottom: 1.1em;
}

p {
	font-family: 'Quicksand', sans-serif;
	font-size: 18px;
	font-weight: 500; 
	font-style: normal;
	text-align: justify;
	margin-bottom: 1.1em;
}

h2, h3 { margin-top: 1.5em };

figure {
	text-align: center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.wrap {
  float: left;
  width: 300px;
}
